# Core dependencies
prefect
pydantic

# LangChain dependencies
langchain
langchain[google-genai]
langchain-community
langchain-chroma
langgraph

chromadb
sentence-transformers

# Telegram bot
telegram
python-telegram-bot

# Development dependencies
python-dotenv

# Web server (Render healthcheck)
flask

